[Desktop Entry]
Name=Software & Updates
GenericName=Software & Updates
Comment=Configure the sources for installable software and updates
Keywords=Drivers;Repositories;Repository;PPA;
Exec=software-properties-gtk
Icon=software-properties
Terminal=false
X-MultipleArgs=false
Type=Application
OnlyShowIn=GNOME;
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;
MimeType=text/x-apt-sources-list;
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=software-properties
X-XFCE-Source=file:///usr/share/applications/software-properties-gnome.desktop
